
/*vagas disponíveis*/
    blockquote {

  border-color: #CCE9CE;

}

    #planos{

      padding-top: 100px;



      padding-bottom: 100px;

      background-color: #CCE9CE;

    }

    #plan{

    background-color: #CCE9CE;  

    }

    #cont{  background-color: #CCE9CE;

    }

    #vagas{

      



    padding-top: 100px;

    padding-bottom: 100px;



    }

    h1{

      text-align:left;

line-height:40px;

font-size: 35px;

color: black;

font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

    }



    body{

      background-color: #D0D4D0;

      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

    }

    p{      font-size: 20px;

      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

  text-align:left;

    }

    .navbar {

      margin-bottom: 0;

      border-radius: 0;



      font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;

      margin-bottom: 0;

      background-color: #CCE9CE;

      background: rgba(200, 255, 200, 0.9);

      border: 0;

      font-size: 15px !important;

      /* letter-spacing: 4px;

      opacity: 0.9;

*/

    }



    /* padding no footer */

    /*footer {

      background-color: #f2f2f2;

      padding: 25px;

    }*/



  .carousel-inner img {

      width: 100%; 

      margin: auto;

      min-height:600px;

  }

#roleta1{

  width: 100%; 

      margin: auto;

      min-height:350px;

    }

#roleta2{

  width: 100%; 

      margin: auto;

      min-height:350px;

    }

  /* Esconde texto carrossel com width 400px */

  @media (max-width: 400px) {

    .carousel-caption {

      display: none;

    }

  }





.parallax {

    /* imagem */

    background-image: url(../img/carro1.jpg);

    opacity: 0.8;

  font-weight: bold;filter: alpha(opacity=50);

    

    min-height: 300px;

    min-width: 200px;

    /* Efeito Parallax */

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;



}



#card1, #card2, #card3{

  width: 100%;

  height: 200px;

}



#logo{

  width: 300px;

  height: 200px;



}


footer {

    background-color: black;

    color: #f5f5f5;

    padding: 32px;

}



footer a {

    color: #f5f5f5;

}



footer a:hover {

    color: #777;

    text-decoration: none;

}

#contato{

  padding-top: 100px;



  padding-bottom: 100px;

  background-color: #CCE9CE;

}

#empresa{

  padding-top: 50px;



  padding-bottom: 50px;

}

h3{

  text-align: left;

  font-weight: bold;

    }

h5{

  text-align: left;

    }

#Enviar{

  background-color: #4CAF50; /* Green */

    border: none;

    color: white;

    padding: 10px 25px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;

  width: 100%;

    }
